In [1]:
import pandas as pd
from oandapyV20 import API
import oandapyV20.endpoints.pricing as pricing
import oandapyV20.endpoints.instruments as instruments

In [2]:
A1_OA_Da = 17                     # Day Align
A1_OA_Ta = "America/Mexico_City"  # Time Align

A1_OA_Ai = "101-004-2221697-001"  # Id de cuenta
A1_OA_At = "practice"             # Tipo de cuenta

A1_OA_In = "EUR_USD"              # Instrumento
A1_OA_Gn = "H1"                   # Granularidad de velas

A1_OA_Ak = "a"+ "da4a61b0d5bc0e5939365e01450b614" + "-4121f84f01ad78942c46fc3ac777baa" + "6"

F1 = "2017-01-01T00:00:00Z"
F2 = "2017-02-01T00:00:00Z"

In [3]:
api = API(access_token=A1_OA_Ak)

In [4]:
params={"granularity": A1_OA_Gn, "price": "M", "dailyAlignment": A1_OA_Da, "alignmentTimezone": A1_OA_Ta,
        "from": F1, "to": F2}

A1_Req1 = instruments.InstrumentsCandles(instrument=A1_OA_In, params=params)
A1_Hist = api.request(A1_Req1)

In [5]:
lista = []
for i in range(len(A1_Hist['candles'])-1):
        lista.append({'TimeStamp': A1_Hist['candles'][i]['time'], 'Open': A1_Hist['candles'][i]['mid']['o'],
                      'High': A1_Hist['candles'][i]['mid']['h'], 'Low': A1_Hist['candles'][i]['mid']['l'],
                      'Close': A1_Hist['candles'][i]['mid']['c']})

pd_hist = pd.DataFrame(lista)
pd_hist = pd_hist[['TimeStamp', 'Open', 'High', 'Low', 'Close']]
pd_hist['TimeStamp'] = pd.to_datetime(pd_hist['TimeStamp'])

In [6]:
pd_hist.head()

            TimeStamp     Open     High      Low    Close
0 2017-01-02 23:00:00  1.04684  1.04711  1.04567  1.04575
1 2017-01-03 00:00:00  1.04577  1.04712  1.04572  1.04662
2 2017-01-03 01:00:00  1.04665  1.04808  1.04646  1.04758
3 2017-01-03 02:00:00  1.04761  1.04780  1.04709  1.04721
4 2017-01-03 03:00:00  1.04718  1.04848  1.04715  1.04848