# Repaso de Python 3

Clase: Microestructura y Sistemas de Trading

---

### Modulos

In [1]:
import datetime
import pandas as pd
import numpy as np

In [9]:
indice = [1, 2, 3, 4, 5]
columnas = ['A','B', 'C', 'D']
df = pd.DataFrame(index=indice, columns=columnas)
df = df.fillna(0) # -- llenar todas las celdas con 0s

In [11]:
df.head(3) # -- Para mostrar los 5 primeros renglones

   A  B  C  D
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

[array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])]